<!doctype html>

<head>
  <meta charset="utf-8">
  <title>My Parse App</title>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">
</head>

<body>

  <div id="main">

    <div style="display:none" class="success">
      <p>We've also just created your first object using the following code:</p>
    </div>

    <div id="comments">

      <% Events.all.each do |item| %>
        <%= debug item[Events.event_name] %>
        <%= debug Events.event_name %>
      <% end %>

	  </div>

  </div>
</body>

</html>
